* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 175%;
    text-align: center;
}

.seccion{
    float: left;
    height: 100px;
    background: gray;
    border: black 1px;
    width: 100%;
}

.sec-title{
    float: right;
    font-size: 125%;
    text-align: center;
}

#chick{
    background: orange;
    border: black 1px;
    width: 33%;
}

#beef{
    background: green;
    border: black 1px;
    width: 33%;
}

#sushi{
    background: lightcoral;
    border: black 1px;
    width: 33%;
}
.content, .seccion, h1{
    margin: 25px;
}

.content{
    clear: both;
}

@media(min-width:768px) and (max-witdh:991px) {
    
}
