* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 175%;
    text-align: center;
}

.seccion{
    float: left;
    height: 100px;
    background: gray;
    border: black;
    border-width: 1px;
    width: 100%;
    margin: 25px;
}

.sec-title{
    float: right;
    font-size: 125%;
    text-align: center;
    width: 33%;
    border: black;
    border-width: 1px;
}

#chick{
    background: orange;
}

#beef{
    background: green;
}

#sushi{
    background: lightcoral;
}

.content{
    clear: both;
    padding: 15px;
}

@media(min-width:768px) and (max-witdh:991px) {
    #chick{
        width: 50%;
    }
    #beef{
        width: 50%;
    }
    #sushi{
        width: 100%;
    }
}
