* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.head{
    text-align: center;
    padding: 50px;
    font-size: 150%;
}

.container{
    margin: 15px;
}

.sec{
    height: 200px;
    background: gray;
    border: solid black 1px;
    float: left;
}

.sec-title{
    font-size: 125%;
    float: right;
    width: 125px;
    text-align: center;
    padding: 10px;
    border: solid black 1px;
}

#chicken{background: orange;}
#beef{background: greenyellow;}
#sushi{background: cornflowerblue;}

.sec-content{
    clear: both;
    padding: 10px;
}

@media (min-width: 992px){
    .sec-lg{
        width: 31.3333%;
        margin: 1%;
    }
}

@media (min-width: 768px) and (max-width:991px){
    .sec-md{
        width: 48%;
        margin: 1%;
    }
    #sec-sushi{
        width: 99%;
    }
}

@media (max-width: 767px){
    .sec-sm{
        width: 98%;
        margin: 1%;
    }
}